@model APCGaming.Models.NhanVien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaiKhoanId" />
            <div class="form-group">
                <label asp-for="TenNv" class="control-label"></label>
                <input asp-for="TenNv" class="form-control" />
                <span asp-validation-for="TenNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoNv" class="control-label"></label>
                <input asp-for="HoNv" class="form-control" />
                <span asp-validation-for="HoNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sđt" class="control-label"></label>
                <input asp-for="Sđt" class="form-control" />
                <span asp-validation-for="Sđt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChuoiMaHoaMk" class="control-label"></label>
                <input asp-for="ChuoiMaHoaMk" class="form-control" />
                <span asp-validation-for="ChuoiMaHoaMk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ChucVuId" class="control-label"></label>
                <select asp-for="ChucVuId" class="form-control" asp-items="ViewBag.ChucVuId"></select>
                <span asp-validation-for="ChucVuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayVaoLam" class="control-label"></label>
                <input asp-for="NgayVaoLam" class="form-control" />
                <span asp-validation-for="NgayVaoLam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

